/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f8f3f3;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.div-book {
    padding: 8px;
    border: 1px solid gray;
    margin-bottom: 10px;
    text-align: center;
}

.div-book:hover {
    box-shadow: 0px 0px 10px 2px gray;
}

.div-form {
    border: 1px solid black;
    padding: 8px;
    background-color: #222;
}

.text-white {
    color:white;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
